@model Week_Project.Models.Patient

@{
    ViewData["Title"] = "Details";
}


<h1>Details of Patient</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_Problem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_Problem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Todays_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Todays_date)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Patient_id">Edit</a> |
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
